@import '../../../styles/variables.scss';

.item {
  background: #fff;
  border-radius: 10px;
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
}

.thumbnail {
  border-radius: 10px;
  min-height: 80px;
  min-width: 80px;
  height: 80px;
  width: 80px;
  overflow: hidden;

  img {
    height: 80px;
    width: 80px;
  }
}

.itemInfo {
  flex-grow: 1;
  margin-left: 10px;

  h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  p {
    margin: 0;
  }
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnDelete {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: right;

  svg {
    opacity: .6;
    height: 20px;
    width: 20px;

    &:hover {
      opacity: 1;
    }
  }
}

.total {
  border-top: 2px solid #ccc;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 20px;
  text-align: right;
}

.emptyCart {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;

  button {
    margin-top: 20px;
  }
}